POSTGRES_USER=appuser
POSTGRES_PASSWORD=changeme
POSTGRES_DB=appdb_week4
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
API_KEY=changeme
JWT_SECRET_KEY=generate-with-secrets-token_urlsafe-32
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
